.promo
	.promo-1
		.container
			.promo__flex
				.promo__item.promo-1__item--img
				.promo__item
					h3.promo__title Find 
						span the perfect 
						| match <br> fast 
					p.promo__txt Start your job in hours, not weeks. Get a shortlist of skilled freelancers instantly, tapping into our hiring know-how and matching technology. Interview favorites online and hire with the click of a button.
	.promo-2
		.container
			.promo__flex
				.promo__item
					h3.promo__title Great 
						span work starts  
						| with  <br> great talent 
					p.promo__txt Start your job in hours, not weeks. Get a shortlist of skilled freelancers instantly, tapping into our hiring know-how and matching technology. Interview favorites online and hire with the click of a button.
				.promo__item.promo-2__item--img
