doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Joby
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800")
		link(rel="stylesheet", href="vendor/slick/slick.css")
		link(rel="stylesheet", href="css/style.css")
	body
		include includes/header.pug
		include includes/banner.pug
		include includes/slick.pug
		include includes/promo.pug
		include includes/work.pug
		include includes/footer.pug

		script( src="vendor/jQuery/jquery.min.js")
		script( src="vendor/slick/slick.min.js")
		script( src="js/core.js")
